body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #222;
    font-family: Arial, sans-serif;
}

.container{
    position: relative;
    width: 300px;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.heading{
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ff4081;
    color: #222;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.content {
    margin-top: 30px;
    color: #333;
}
